{% extends 'base.html' %}
{% load staticfiles %}
{% load paginate %}
{% block extralinks %}
    {% load common_tags %}
    <link href="{% static 'css/main.scss' %}" rel="stylesheet"/>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
{% endblock %}
{% block content %}
    <!-- main_container starts here -->
    <div class="main_container">
        <!-- heading_create starts here -->
        <div class="row marl">
            <div class="col-lg-12 text-right">
                <a href="{% url 'leads:add_lead' %}">
                    <button class="btn my-button-addnew-lead">
                        Add New Lead
                    </button>
                </a>
            </div>
        </div>
        <!-- heading_create ends here -->
        <div class="col-md-12 col-lg-12 col-xl-12">
            <div class="table_container_row row marl no-gutters">
                <div class="col-md-12">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="open" role="tabpanel" aria-labelledby="open">
                            <div class="card crm-table">
                                <div class="card-body">
                                    <div class="my-table-title-bg my-table-color text-right">
                                        <span class="float-left">Orders</span>
                                        <span class="filter_toggle">
                           <a href="#" class="my-button-filter"><i class="fas fa-filter"></i></a>
                           </span>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table ">
                                            <thead>
                                                <tr>
                                                    <th width="25%">Order</th>
                                                    <th width="10%">Date</th>
                                                    <th width="10%">Status</th>
                                                    <th width="5%">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for order in orders %}
                                                <tr class="text-center">
                                                    <td>
                                                        #{{ order.id }} {{ order.shipping.first_name }} {{ order.shipping.first_name }}
                                                    </td>
                                                    <td>
                                                        {{ order.date_modified }}
                                                    </td>
                                                    <td>
                                                        {{ order.status }}
                                                    </td>
                                                    <td>
                                                        £{{ order.total }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js_block %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.assigned_users').select2();
            $(".filter_toggle").click(function () {
                $(".list_filter_row").toggle();
            });
        });

        $("#close-tab").click(function (e) {
            $("#tab_status").val('Closed')
        })

        $("#open-tab").click(function (e) {
            $("#tab_status").val('Open')
        })

        tab_status = "{{tab_status}}"
        if (tab_status == 'Closed') {
            $("#close-tab").click()
        } else {
            $("#open-tab").click()
        }

        $('.delete').click(function (e) {
            e.preventDefault()
            url = $(this).attr('href')
            if (!confirm('Are you sure you want to delete?'))
                return;
            window.location = $(this).attr('href')
        });

        $("a[rel='page']").click(function (e) {
            e.preventDefault();
            $('#leads_filter').attr("action", $(this).attr("href"));
            $('#leads_filter').submit();
        });
    </script>
{% endblock js_block %}