{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<form id="add_form" method="POST" action="" novalidate>
  <div class="overview_form_block row marl justify-content-center">
    <div class="col-md-6">
      <div class="card crm-table">
        <div class="card-body crm-table">
         <div class="my-table-title-bg my-table-color text-left">
          Change Password
        </div>
          <div class="row marl no-gutters">
            <div class="col-md-12">
              {% if not user_obj %}
              <div class="filter_col col-md-12">
                <div class="form-group">
                    <label for="exampleInputEmail1"><div class="my-label-color">Old Password</div></label>
                  <input type="password" class="form-control" name="CurrentPassword" value="{{ request.POST.CurrentPassword }}" placeholder="Old Password">
                </div>
                <span class="error">{{ errors.CurrentPassword }}</span>
                {% if error %}
                <span class="error">{{ error }}</span>
                {% endif %}
              </div>
              {% endif %}
              {% if not user_obj %}
              <div class="filter_col col-md-12">
                <div class="form-group">
                    <label for="exampleInputEmail1"><div class="my-label-color">New Password</div></label>
                  <input type="password" class="form-control" name="Newpassword" value="{{ request.POST.Newpassword }}" placeholder="New Password">
                </div>
                <span class="error">{{ errors.Newpassword }}</span>
              </div>
              {% endif %}
              {% if not user_obj %}
              <div class="filter_col col-md-12">
                <div class="form-group">
                    <label for="exampleInputEmail1"><div class="my-label-color">Confirm New Password</div></label>
                  <input type="password" class="form-control" name="confirm" value="{{ request.POST.confirm }}" placeholder="Confirm Password">
                </div>
                <span class="error">{{ errors.confirm }}</span>
              </div>
              {% endif %}
            </div>
          </div>
          <br>
          <div class="row marl buttons_row form_btn_row text-center">
            <button class="btn my-button-change-password" type="submit">Change Password</button>
{#            <button class="btn my-button-cancel"><a href="{% url 'common:profile'%}" style="color:inherit;"></a></button>#}
              <a href="{% url 'common:profile'%}"><button class="btn my-button-cancel">Cancel</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock content %}
